<div class="flex justify-content-center pt-8 pb-4">
  <h1 class="md:text-7xl font-bold">Chat GPT Angular</h1>
</div>
<div class="card flex justify-content-center grid">
  <div class="md:col-2 sm:col-1"></div>
  <textarea
    rows="2"
    cols="90"
    pInputTextarea
    [autoResize]="true"
    [(ngModel)]="value"
  ></textarea>
  <div class="md:col-2 sm:col-1"></div>
</div>
<div class="flex justify-content-center py-6">
  <p-button
    label="Send Chat"
    styleClass="p-button-raised"
    icon="pi pi-check"
    class="pr-4"
    type="button"
    [loading]="isLoading"
    (onClick)="handleSubmitChat()"
  ></p-button>
  <p-button
    label="Clear Chat"
    styleClass="p-button-raised p-button-danger"
    icon="pi pi-times"
    type="button"
    [disabled]="isLoading"
    (onClick)="handleClearChat()"
  ></p-button>
</div>

<div *ngIf="aiMessage">
  <div class="flex justify-content-center py-2">
    <h3 class="text-7xl font-bold">AI Assistant</h3>
  </div>
  <div class="card flex justify-content-center grid">
    <div class="md:col-2 sm:col-1"></div>
    <div class="md:col-8 sm:col-10 border-round surface-hover text-color py-4">
      {{ aiMessage }}
    </div>
    <div class="md:col-2 sm:col-1"></div>
  </div>
</div>

<div class="py-4"></div>
